// Typography

// Calculated for 375px wide screen
$text-base-mobile: 4.267vw;
$text-md-mobile: 6.667vw;
$text-lg-mobile: 13.867vw;

$text-longread-mobile: 7.733vw;

// Calculated for 768px wide screen
$text-base-tablet: 0.625vw;
$text-lg-tablet: 1.300vw;
$text-xxl-desktop: 27.733vw;

// Calculated for 4000px wide screen
// $text-sm-desktop: 0.400vw;
$text-base-desktop: 0.400vw;
$text-md-desktop: 0.525vw;
$text-lg-desktop: 0.625vw;
$text-xl-desktop: 1.300vw;
$text-xxl-desktop: 2.600vw;

$text-longread-desktop: 0.725vw;