span.swiper-pagination-bullet {
  width: 0.500vw!important;
  height: 0.500vw!important;
  background: #000!important;
  opacity: 1!important;
  margin: 0 0.225vw!important;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgb(255,0,253)!important;
  background: -moz-linear-gradient(180deg, rgba(255,0,253,1) 0%, rgba(249,16,30,1) 100%)!important;
  background: -webkit-linear-gradient(180deg, rgba(255,0,253,1) 0%, rgba(249,16,30,1) 100%)!important;
  background: linear-gradient(180deg, rgba(255,0,253,1) 0%, rgba(249,16,30,1) 100%)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00fd",endColorstr="#f9101e",GradientType=1)!important;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  left: calc((100% / 3) + 6vw);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(((100% / 3) * 2) - 12vw);
  height: calc(0.625vw * 2);
  margin-bottom: 0.525vw;
  margin-right: 0vw;
}